*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.category_area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.catalog-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog-tile img {
    max-width: 100%;
    height: auto;
}

.catalog-tile h3 {
    margin-top: 10px;
}