@tailwind base;
@tailwind components;
@tailwind utilities;

.input-wrapper {
  background-color: #FFFFFF;
  width: 150%;
  border-radius: 10px;
  height: 2.2rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #00000;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 150%;
  margin-left: 5px;
  font-size: 0.9rem;
}

input:focus {
  outline: none;
}

#search-icon {
  color: black;
}
